.footer {
  margin-top: 125px;
  padding: 20px 0;
  border-top: 1px solid var(--pure-grey);
  background-color: var(--white-bg);

  &__top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  &__logo {
    width: 100px;

    &-img {
      width: 100%;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__item {
    &-title {
      color: var(--grey);
    }

    &-list {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      &-link {
        color: var(--black);
      }
    }
  }

  &__bottom {
    margin-top: 86px;

    &-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    &-item {
      &:nth-child(1) {
        grid-column: 2 / 3;
      }

      &-text {
        color: var(--grey);
      }
    }
  }
}

@media (max-width: 1240px) {
  .footer {
    margin-top: 96px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin-top: 80px;
  }
}

@media (max-width: 576px) {
  .footer {
    &__items {
      display: flex;
      flex-direction: column;
    }

    &__bottom {
      margin-top: 40px;

      &-items {
        grid-template-columns: repeat(2, 1fr);
      }
      &-item:nth-child(1) {
        grid-column: 1 /2;
      }
    }
  }
}
